<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>NodeJs Social Authentication</title>
    <link
      rel="icon"
      type="image/png"
      href="https://icons-for-free.com/iconfiles/png/128/lock+password+protect+safety+security+icon-1320086045132546966.png"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css"
    />

    <style>
      body {
        padding: 100px;
        padding-top: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card mb-3">
            <h3 class="card-header">User Profile</h3>
            <div class="card-body">
              <h5 class="card-title">Fetched data</h5>
              <h6 class="card-subtitle text-muted">
                ** Data authorized by user
              </h6>
            </div>
            <img
              class="d-block user-select-none"
              width="100%"
              height="200"
              aria-label="Placeholder: Image cap"
              focusable="false"
              role="img"
              preserveAspectRatio="xMidYMid slice"
              viewBox="0 0 318 180"
              style="font-size: 1.125rem; text-anchor: middle"
              alt="user_profile_pic"
              src="https://imgd.aeplcdn.com/476x268/n/cw/ec/38904/mt-15-front-view.jpeg?q=80"
            />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="/" class="card-link">Home Page</a>
              <a href="#" class="card-link">Another link</a>
            </div>
            <div class="card-footer text-muted">2 days ago</div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
