<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>End-to-End Encrypted Chat Application</title>
    <link
      rel="icon"
      type="image/png"
      href="https://icons-for-free.com/iconfiles/png/128/lock+password+protect+safety+security+icon-1320086045132546966.png"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/flatly/bootstrap.min.css"
    />
    <style>
      body {
        padding: 80px;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-3">Welcome Shivam verma! 🙋‍♂️</h1>
      <p class="lead">A New Freedom of Security.</p>
      <hr class="my-4" />
      <p>
        On this "End-to-End"
        <i class="fa fa-user-lock" aria-hidden="true"></i> encrypted chat
        application we ensures & empoweres
        <i class="fa fa-space-shuttle" aria-hidden="true"></i> privacy of your
        personal data & conversation over the web & cloud.
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
    <div class="card border-primary mb-3" style="max-width: 100rem">
      <div class="card-header">Registration Details</div>
      <div class="card-body">
        <h4 class="card-title">Profile Details</h4>
        <p class="card-text">
          You registered on this application with
          <strong>"shivambca75@gmail.com"</strong> email address & the contact
          number is <strong>"8736043369"</strong>
        </p>
      </div>
      <div class="card-body">
        <h4 class="card-title">Location Details</h4>
        <p class="card-text">
          Below are the automatically system fetched details, while you
          registered on this application.<br /><br />
          Location: Lucknow, Uttar Pradesh, India.<br />
          PIN: 226016<br />
          IP Address: 106.214.245.43<br />
          Internet Service Provider: Bharti Airtel (AS24560 Bharti Airtel Ltd.,
          Telemedia Services)<br />
        </p>
      </div>
    </div>
  </body>
</html>
